.bundle
*.log
*.log.*
*.sqlite3
*.tmp*~
*.orig
*.pid
*.*~
*.o
*.so
*.swp
.DS_Store
tmp/*
spec/reports/*
spec/tmp
public/assets
public/applications
data
nbproject/*

config/oauth.yml
config/verboice.yml
config/nuntium.yml
config/api.yml
config/application.yml
config/database.yml
broker/deps
broker/ebin
broker/verboice.config
broker/.eunit
broker/.rebar
broker/*.plt
broker/rel/verboice
broker/erl_crash.dump

vendor/ruby
vendor/bundle
admin/backups/verboice*
spec/support/etc/asterisk-sounds/*
spec/support/etc/asterisk-remote/extensions.conf
spec/support/etc/asterisk-verboice/extensions.conf
spec/support/etc/asterisk-recordings/*

*.sublime-project
*.sublime-workspace

script/sphinx3
config/recaptcha.yml
config/aws.yml
config/telemetry.yml

plugins/reports/config/settings.yml
