- if project_admin?
  .box.grey.w60.addqueue{ ko(visible: '!current_reminder_group()', click: 'new_reminder_group'), style: 'display:none'}
    %span
      %a.add_field{href: 'javascript:void(0)'}= t('views.ext.reminder_groups.action.new')
    %button.cadd.right
    %br{clear: 'all'}
