%div
  .form-group
    %input#enabled_synced{ko(checked: 'enable_sync'), type: 'checkbox'}
    %label{for: 'enabled_synced'} Enable synced data

  .form-group
    %label Endpint
    %input.form-control.w30{ko(value: 'endpoint'), type: 'text'}

  .form-group
    %label Username
    %input.form-control.w30{ko(value: 'username'), type: 'text'}

  .form-group
    %label Password
    %input.form-control.w30{ko(value: 'password'), type: 'password'}

  .form-group
    %label Synced schedule
    %input.form-control.w30{ko(value: 'schedule'), type: 'text'}

  %fieldset
    %legend Dictionary Variable
    .form-group.d-flex
      %label Phone number field
      %input.form-control.w30{ko(value: 'phone_number_field'), type: 'text'}

    <!-- ko foreach: variables -->
    .form-group.d-flex
      %input.form-control{ko(value: '$data.source'), type: 'text', placeholder: "Name"}
      %input.form-control{ko(value: '$data.destination'), type: 'text', placeholder: "Value"}
    <!-- /ko -->
    %div
      %button{ko(click: 'addVariable' )} + Add variable
