verboice_url: 'http://localhost:3001'
google_api_key: 'GOOGLE API KEY'
#language_recognition: 'vi-VN'
language_recognition: 'en-US'
wit_token: 'WIT APPLICATION TOKEN'
output_log_file: '/tmp/recognize.log'
case_key: "case"
symptoms_key: "symptoms"
number_of_case_key: "number_of_case"
location_key: "place"
plugins:
  report: on
