%script{type: "text/html", id: "hang_up_and_call_back_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65
    .tableheader
      %span.left.i48grad-phone{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    %table.GralTable.TwoColumn.CleanTable.NoHead
      %tr
        %th Call back
        %th
      %tr
        %td
          Hang up and immediately call back the caller, continuing the Call Flow from this point.
        %td
    %br/

    %table.step-ui-table
      %tr 
        %td{:width => '90'} Dial Prefix
        %td 
          %input{'type' => 'text', 'data-bind' => 'value: dial_prefix'}

      %tr
        %td{'colspan'=> '2'}
          %br
          With retries option

      %tr
        %td Call Flow
        %td
          %select{'data-bind' => 'value: selected_call_flow_id, options: call_flow_options(), optionsText: "name", optionsValue: "id", optionsCaption: "Choose a call flow"'}

      %tr{'data-bind' => 'visible: selected_call_flow_id() != null'}
        %td Retry
        %td
          %input{'type' => 'text', 'placeholder' => '1,2,4', 'data-bind' => 'value: retries'}


      .bottom-actions
        %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step
